$--color-primary: #f00a3c;
$--color-success: #00b7ff !default;
/// color|1|Functional Color|1
$--color-warning: #ff40b6 !default;
/// color|1|Functional Color|1
$--color-danger: #F56C6C !default;
/// color|1|Functional Color|1
$--color-info: #909399 !default;