package ${pkg};

import com.dr.framework.core.orm.sql.Column;
import com.dr.framework.core.orm.sql.TableInfo;

import org.apache.ibatis.type.JdbcType;

import java.util.ArrayList;
import java.util.List;

public class ${className} implements TableInfo {
    public static final String TABLE = "${tableName}";
#foreach($col in ${cols})
    public static final Column $col.get("key").toUpperCase() = new Column(TABLE, "$col.get("value")", "$col.get("key")", JdbcType.$col.get("jdbcType"));
#end

    @Override
    public String moudle() {
        return  "${moudle}";
    }

    @Override
    public String table() {
        return TABLE;
    }

    @Override
    public Column pk() {
#if($pk)
        return $pk.toUpperCase();
#else
        return null;
#end
    }

    @Override
    public List<Column> columns() {
        List<Column> columns = new ArrayList<>();
    #foreach($col in ${cols})
        columns.add($col.get("key").toUpperCase());
    #end
        return columns;
    }
}
